body {
	background-image: url("../img/bc.png");
	background-repeat: repeat;
}

.navbar {

	font-size: 16px;
	font-weight: bold;
}

.hide {
	display: none;
}

.navbar form {
	font-size: 12px;
	font-weight: normal;
}

.form-group a {
	color: #A9E2F3;
}

.form-group a:hover {
	color: #CEECF5;
}

.txtWhite {
	color: white;
}

.footer {
	position: fixed;
	bottom: 0px;
	background-color: #2E2E2E;
	font-size: 12px;
	width: 100%;
}

.message {

	padding-left: 10px;
	width: 100%;
	font-weight: bold;
	color: white;
	position: fixed;
	top: 50px;
}

.stattable tr td{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.colordarkred {
	color: darkred;
}


.highcharts-background {
	fill: none;
}

.odotable {
	height: 350px;
	overflow: auto;
	padding-right: 5px;
}

.otboynik {
	height: 2px;
	margin-top: 5px;
	background-color: dimgrey;
}

