[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

body {
	background-image: url("../img/bc.png");
	background-repeat: repeat;
}

.navbar {

	position: fixed;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	z-index: 10;
}

.hide {
	display: none;
}

.navbar form {
	font-size: 12px;
	font-weight: normal;
}

.form-group a {
	color: #A9E2F3;
}

.form-group a:hover {
	color: #CEECF5;
}

.footer {
	position: fixed;
	bottom: 0px;
	background-color: #2E2E2E;
	font-size: 12px;
	width: 100%;
}

.message {

	padding-left: 10px;
	width: 100%;
	font-weight: bold;
	color: white;
	position: fixed;
	top: 50px;
	left: 0px;
	z-index: 100;
}

.stattable tr td{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.colordarkred {
	color: darkred;
}

.colordarkblue {
	color: darkblue;
}

.colorpurple {
	color: #4C0B5F;
}

.colorblack {
	color: black;
}

.colordarkgreen {
	color: #00665f;
}


.txtWhite {
	color: white;
}


.highcharts-background {
	fill: none;
}

.odotable {
	height: 280px;
	overflow: auto;
	padding-right: 5px;
	white-space: nowrap;
}

.otboynik {
	height: 2px;
	margin-top: 5px;
	background-color: dimgrey;
}

.monthbar {
	height: 12px;
	margin-left: 3px;
	background: -moz-linear-gradient(top, #61210B, #DF0101);
	background: -o-linear-gradient(top, #61210B, #DF0101);
	background: -webkit-linear-gradient(top, #61210B, #DF0101);
	background: -ms-linear-gradient(top, #61210B, #DF0101);
}

.monthtable {
	text-align: right;
	white-space: nowrap;
	font-weight: bold;
}

.monthtable tr td {
	padding-right: 3px;
}

.cellmonth .monthcnt  {
	color: black;
}
.cellmonth .monthmonth  {
	color: darkblue;
}
.cellmonth .monthdst  {
	color: darkred;
}


.lasttable tr td {
	padding-left: 5px;
}

.statdisttable {
	text-align: right;
	white-space: nowrap;
}

.trimtable {
	max-height: 440px;
	overflow: auto;
}

.totaltable {
	width: 100%;
	text-align: center;
}

.tablehead td {
	height: 30px;
	background-color: rgba(100,100,100,0.4);
	font-weight: bold;
	color: black;
}

.tehtable {
	width: 100%;
	text-align: center;
}

.tehtable tr td {
	padding-left: 10px;
	padding-right: 10px;
}

.surfbarasf {
	height: 12px;
	margin-left: 3px;
	background: -moz-linear-gradient(top, #1C1C1C, #A4A4A4);
	background: -o-linear-gradient(top, #1C1C1C, #A4A4A4);
	background: -webkit-linear-gradient(top, #1C1C1C, #A4A4A4);
	background: -ms-linear-gradient(top, #1C1C1C, #A4A4A4);
}

.cellright {
	text-align: right;
	padding-right: 5px;
}

#calendar2 {
	width: 100%;
	font: monospace;
	line-height: 1.5em;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

}
#calendar2 thead tr:last-child {
	font-size: 16;
	color: rgb(85, 85, 85);

}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
	border-radius: 15px;
	background: -webkit-radial-gradient(center, rgba(50,50,50,0.2), rgba(200,200,200,0.1));
	background: -moz-radial-gradient(center, rgba(50,50,50,0.2), rgba(200,200,200,0.1));
	background: -o-radial-gradient(center, rgba(50,50,50,0.2), rgba(200,200,200,0.1));
	background: -ms-radial-gradient(center, rgba(50,50,50,0.2), rgba(200,200,200,0.1));
	color: white;
}

#calendar2 tbody td {
	color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
	color: darkred;
}
#calendar2 tbody td.today {
	border-radius: 15px;
	background: -moz-radial-gradient(left, darkblue, royalblue);
	background: -o-radial-gradient(left, darkblue, royalblue);
	background: -webkit-radial-gradient(left, darkblue, royalblue);
	background: -ms-radial-gradient(left, darkblue, royalblue);
	color: #fff;
}

.butY {
	cursor: pointer;

}
.butY:hover {
	color: rgb(240,240,240);
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}

.littlestat {
	font-size: 10px;
	text-align: right;
	color: dimgrey;
}

.datatable {
	max-height: 110px;
	overflow: auto;
}

.datatable table {
	text-align: right;
	width: 80%;
	font-size: 11px;
}
